@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*, *::before, *::after{ box-sizing: border-box; }

:root{
  --main-color: #FAFAFA;
}

body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.25rem;
  color: #222;
  overflow-x: hidden;
}

main{
  background-color: #333;
}

.container{
  background-color: var(--main-color);
  padding: 6.25rem 8.75rem;
  transform-origin: top left;
  transition: transform .5s linear;
}

h1{
  margin: 0;
  font-size: 2rem;
}

.container p{
  line-height: 1.5;
}

.container p:first-of-type{
  margin-top: 1rem;
}

.circle-box{
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle{
  position: relative;
  border-radius: 50%;
  background-color: #FF7979;
  height: 200px;
  width: 200px;
  transition: transform .5s linear;
  top: 5px;
  left: -10px;
}

.doggy{
  width: 100%;
}

small{
  color: #555;
  font-style: italic;
}

.circle > button{
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  font-size: 1.625rem;
  cursor: pointer;
}

.circle_cross{
  top: 65%;
  left: 24%;
  right: 0;
}

button.circle_bars{
  left: 65%;
  bottom: 20%;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  color: white;
  list-style-type: none;
  margin: 1rem;
  text-transform: uppercase;
  margin: 2.5rem 0;
  transition: transform 0.5s linear;
}

li:nth-child(1){
    padding: 0 0.75rem;
    transform: translateX(-100%)
}
li:nth-child(2){
    padding: 0 0.75rem;
    transform: translateX(-120%)
}
li:nth-child(3){
  padding: 0 1.5rem;
  transform: translateX(-140%)
}

li i{
  margin-right: .8rem;
}

.menu{
  display: inline-block;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.menu.show ul li:nth-child(1){
  transform: translateX(8%)
}

.menu.show ul li:nth-child(2){
  transform: translateX(16%)
}

.menu.show ul li:nth-child(3){
  transform: translateX(24%)
}

.container.show{
  transform: rotate(-20deg);
}

.container.show .circle-box .circle{
  transform: rotate(-70deg);
  transform-origin: top bottom;
}
