*,*::after, *::before{  box-sizing: border-box; }

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .box_item:nth-child(1){
  background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.box .box_item:nth-child(2){
  background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.box .box_item:nth-child(3){
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.box .box_item:nth-child(4){
  background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.box .box_item:nth-child(5){
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.box{
  width: 100%;
  height: 100%;
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.box_item{
  cursor: pointer;
  display: block;
  height: 100%;
  width: 6.5%;
  border-radius: 3.125rem;
  transition: flex-grow .7s ease-in;
  display: flex;
  align-items: end;
  padding: 0 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box_item.clicked{ flex-grow: 4; }

h3{
  display: block;
  visibility: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 150ms ease-in 450ms;
}

.box_item.clicked h3{
  display: block;
  visibility: initial;
  opacity: 1;
}

@media only screen and (orientation: portrait) and (max-width: 700px){
  .box .box_item:nth-child(4){
    display: none;
  }
  .box .box_item:nth-child(5){
    display: none;
  }
}
